<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>登陆成功界面</title>
    <script src="/WorkJob/static/jquery/jquery-1.8.3.js"></script>
<link href="/WorkJob/static/bootstrap/2.3.1/css_cerulean/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script src="/WorkJob/static/bootstrap/2.3.1/js/bootstrap.js"></script>
<link href="/WorkJob/static/bootstrap/2.3.1/awesome/font-awesome.min.css" type="text/css" rel="stylesheet" />

<link href="/WorkJob/static/jquery-select2/3.4/select2.min.css" rel="stylesheet" />
<script src="/WorkJob/static/jquery-select2/3.4/select2.min.js" type="text/javascript"></script>
<link href="/WorkJob/static/jquery-validation/1.11.0/jquery.validate.min.css" type="text/css" rel="stylesheet" />
<script src="/WorkJob/static/jquery-validation/1.11.0/jquery.validate.min.js" type="text/javascript"></script>
<link href="/WorkJob/static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css" rel="stylesheet" />
<script src="/WorkJob/static/jquery-jbox/2.3/jquery.jBox-2.3.min.js" type="text/javascript"></script>
<script src="/WorkJob/static/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/WorkJob/static/common/mustache.min.js" type="text/javascript"></script>
<link href="/WorkJob/static/common/jeesite.css" type="text/css" rel="stylesheet" />
<script src="/WorkJob/static/common/jeesite.js" type="text/javascript"></script>
<script src="/WorkJob/static/bootstrap-table/bootstrap-table.js"></script>
<link href="/WorkJob/static/bootstrap-table/bootstrap-table.css" rel="stylesheet" >

<script src="/WorkJob/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

<script src="/WorkJob/static/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
   <script type="text/javascript">
	   $(function(){	
		   var height=window.innerHeight;
		   var width=window.innerWidth;
		   $("#homePage").height(height);
		   $("#homePage").width(width);
	   });
	   window.onresize = function(){
		   var height=window.innerHeight;
		   var width=window.innerWidth;
		   $("#homePage").height(height);
		   $("#homePage").width(width);
		}
   </script>
</head>

<body>
 <img src="/WorkJob/static/images/homePage.jpg"  id="homePage">
</body>

</html>